/* You can add global styles to this file, and also import other style files */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

a{
  color: #337ab7;
  text-decoration: none;
}
